    <div class="follow-options">
    <h3 class="text-xl">Follow this project by subcribing to our newsletter...</h3>
    <iframe src="https://binnyva.substack.com/embed" width="480" height="320" class="newsletter-embed" frameborder="0" scrolling="no"></iframe>

    <h3 class="text-xl mt-4">Or follow us on social media...</h3>

    {% include "_social_media.njk" %}
    </div>